*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: var(--wr-font-weight-regular);
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  color: var(--el-text-color-primary);
  background: var(--el-bg-color-page);
  line-height: var(--wr-line-height-body);
  font-family: var(--wr-font-family-ui);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
